.layout label {
    margin-left: 1cm;
    color: rgb(10, 9, 9);
    font-size: large;
}

.give{
    display: flex;
    background-image: url(../images/homePortal.jpg);
    background-size: cover;
    height: 100vh;
    padding-left: 380px;
    /* margin-left: 250px; */
    /* justify-content: center; */
}

.layout input {
    width: 15cm;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid rgb(11, 11, 11);
    margin-left: 1cm;
    padding-top: 20px;
    font-size: medium;
}

.layout {
    display: flex;
    padding: 30px;
    justify-content:center ;
}

.Formdetail {
    background-color: rgba(115, 177, 101, 0.866);
    width: 17cm;
    padding-top: 10px;
    border-radius: 5% ;
}

.Formdetail h2 {
    color: rgb(8, 8, 8);
    text-align: center;
    margin-bottom: 20px;
}

.Formdetail button {
    background-color: rgba(2, 3, 3, 0.838);
    color: rgb(255, 255, 255);
    width: 5cm;
    height: 40px;
    margin-left: 240px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 5%;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
}

.Formdetail div {
    margin: 20px 0px;
}

input:focus {
    outline: none;
}
