.fdisp{
    display: inline-block; 
     flex-wrap: wrap;
     justify-content: flex-start;
 
}
.fcdisp{
    width: 300px;
    height: 150px;
    background-color: rgba(253, 255, 127, 0.527);
    margin: 40px;
    padding: 20px;
}
.favdisp{
    background-image: url(https://images.pexels.com/photos/5708996/pexels-photo-5708996.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    height: 100vh;
}
.favdisp h1{
   color: azure;
}
.fcdisp:hover{
    transform: scale(1.05);
}