.pnotes{
    background-color: rgba(231, 205, 167, 0.638);
}
.ninput textarea{
    width: 450px;
    height: 125px;
    background-color: blanchedalmond;

}
.ndisp{
    border: 2px solid chocolate;
    margin: 10px;
    height: 200px;    
}

.ndisp p{
    font-size: xx-large;
    font-style: italic;
    font-weight: 600;
}