.userLoginDisp{
    background-color: rgba(196, 227, 216, 0.675);
    width: 650px;
    height:530px;
    margin-top: 150px;
    border-radius: 10%;
}
.userlogin{
    display: flex;
    background-image: url(../images/adminLogin.jpg);
    background-size: cover;
    height: 100vh;
    justify-content: center;
}


.userLoginDisp h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-top: 30px;
}
.userLoginDisp img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 290px;
}
.form{
    margin-left: 50px;
    margin-top: 20px;
}

.form button{
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    font-size:larger;
    margin-left: 125px;
    margin-top: 20px;
}
.form input{
    background-color: rgba(240, 248, 255, 0);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
    margin-bottom: 60px;
    width: 550px;
    padding-top: 20px;
    font-size: medium;
}
.form label{
    font-size: larger;
}
.form a{
color: black;
}
input:focus {
    outline: none;
}